<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Ichzilla</title>
    <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" />
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/row_class.js"></script>
    <script type="text/javascript" src="javascripts/human.js"></script>
    <script type="text/javascript" src="javascripts/akkan.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36202199-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <header>
    <hgroup>
    <h1>Ichzilla</h1>
    <h3>A ROW:EU Character Builder</h3>
    </hgroup>
    </header>

    <article>
    <%= yield %>
    </article>

    <footer>
    <p>Brought to you by <i>Soul-Hunter</i> and <i>Alis</i></p>
    </footer>
  </body>
</html>
