<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Ichzilla</title>
    <link rel="stylesheet" href="/stylesheets/application.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
  </head>
  
  <body>
    <header>
      <hgroup>
      <h1>Ichzilla</h1>
      <h2>A ROW:EU Character Builder</h2>
      </hgroup>
    </header>

    <article>
      <%= yield %>
    </article>

    <footer>
      <p>Made my Soul-Hunter</p>
    </footer>
  </body>
</html>
