<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Ichzilla</title>
    <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" />
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/row_class.js"></script>
    <script type="text/javascript" src="javascripts/human.js"></script>
    <script type="text/javascript" src="javascripts/akkan.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
  </head>

  <body>
    <header>
    <hgroup>
    <h1>Ichzilla</h1>
    <h3>A ROW:EU Character Builder</h3>
    </hgroup>
    </header>

    <article>
    <%= yield %>
    </article>

    <footer>
    <p>Brought to you by <i>Soul-Hunter</i> and <i>Alis</i></p>
    </footer>
  </body>
</html>
