* {
  list-style: none;
}

html {
  color: white;
  background: url(../images/bg_02.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_02.jpg', sizingMethod='scale')";
}

article {
  margin-left: 20px;
  width: 200px;
}

#stat_selectors {
  width: 100px;
}

#stat_selectors li {
  height: 27px;
}

#stat_selectors ul {
  padding: 0px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clr {
  clear: both;
}

.stat_names li {
  text-align: right;
}

.result {
  font-weight: bold;
  font-size: large;
}
